/* MAIN */
html {
    overflow-x: hidden;
}
body {
    height: 100vh;
    margin: 0;
    font-family: "Nanum Gothic", arial;
    font-size: 20px;   
}

.titleName {
    color: black;
    font-family: monospace;
    font-size: 45px;
    padding-left: 35px;
    font-style: italic;
}


/* NAVIGATION */
#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

#nav a {
    color: black;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
}

#nav a:hover {
    text-shadow: 2px 2px 4px grey;
}

a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

i {
    color: black;
    font-size: 25px;
    display: flex;
    margin: 10px;
}

/* HOMEPAGE */
#imageGrid {
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.img {
    max-width: 90vw;
    max-height: 50vh;
    padding: 10px;
}

#engineering, #targets {
    width: 450px;
    padding: 15px;
    text-align: center;
}

.edit {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.textEdit {
    border: 2px solid gray;
    padding: 15px;
    width: 50vw;
    font-size: 18px;
}

/* ABOUT PAGE */
#mePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.selfie {
    border-radius: 15px;
}

#favs {
    display: flex;
    flex-direction: row;
}

#food, #bands, #sleep {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    margin-top: 0;
}

li {
    text-align: start;
}

/* ENROL ON A COURSE */
#enrolHeader {
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    background-color: lightgrey;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 20vw;
    border-radius: 30px;
    text-align: center;
}

input {
    padding: 15px;
    font-size: 16px;
}

.personalInfo, .selection, .checklist {
    text-align: center;
}

#submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    font-weight: bold;
    padding: 10px;
    width: 100px;
    opacity: 0.6;
    transition: 0.3s;
}

button:hover {
    opacity: 1
}

/* PROJECTS */
#projects {
    display: flex;
    align-items: center;  
    flex-direction: column;
}

#projectGrid {
    background-color: lightgray;
    border-radius: 20px;
    padding: 100px;
    margin: 20px;
    display: flex;
    align-items: center;  
    flex-direction: row;
    text-align: center;
}

#projectGrid a {
    color: black;
}

#kornImg, #diceImg, #drumImg {
    width: 350px;
    height: 200px;
    margin: 20px;
}

.placeholder {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 20px;
}

#blank {
    height: 300px;
}


/* FOOTER */
footer {
    background-color: lightgray;
    bottom: 0;
    font-size: 16px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100vw;
}

@media screen and (max-width: 928px) {
    .titleName {
        display: none;
    }
    #nav {
        padding: 0;
        justify-content: center;
    }
    #nav a {
        font-size: 20px;
    }
    i {
        font-size: 20px;
    }
    #homepage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .textEdit {
        font-size: 14px;
        width: 80vw;
    }
    #mePage {
        margin: 20px;
    }
    #favs {
        display: flex;
        flex-direction: column;
    }
    #food, #bands, #sleep {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    #projects {
        margin-top: 30px;
        text-align: center;
    }    
    #projectGrid {
        width: 40vw;
        background-color: lightgray;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
    #blank {
        display: none;
    }
    footer {
        display: none;
    }
}